@import url('https://fonts.googleapis.com/css2?family=Anuphan&family=Athiti&family=Chakra+Petch:ital,wght@1,300&family=Fahkwang:wght@300&family=Kanit:wght@300;400&family=Noto+Sans+Thai:wght@300&family=Pixelify+Sans&family=Poppins:wght@300&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: #efbebe; */
    padding: 10px;
  }
  .grid-item {
    /* background-color: rgb(255, 239, 239); */
    /* border: 1px solid #efbebe; */
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  header div.cover{
    width: 100%;
    height: 300px;
    background-color: lightcoral;
  }
  #cover{
    width: 100%;
    height: 300px;
    filter: blur(10px);
  }
  #profile{
    margin-top: -100px;
    width: 300px;
    border-radius: 1000px;
    border: 3px solid#97363C;
    position: relative;
  }
  header h1{
    color: #97363C;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
  }
  header h2{
    color: #97363C;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
  }
  footer{
    background-color: rgb(141, 52, 80);
    color: white;
    text-align: center;
    width: 100%;
    height: 100px;
  }
  footer p.footer{
    padding-top: 45px;
  }
  article div.grid-container div.grid-item div.lab1 img{
    width: 250px;
    height: 250px;
    border-radius: 30px 30px 0px 0px;
    border: 2px solid palevioletred;
  }
  span:hover{
    color: red;
    cursor: pointer;
  }
  div.lab1{
    background-color: palevioletred;
    width: max-content;
    margin: auto;
    border-radius: 30px;
    padding-bottom: 10px;
  }
  a.work{
    color: white;
    text-decoration: none;
  }
  div.lab1:hover{
    box-shadow: 0px 2px 10px rgb(74, 59, 59);
    transition: all .035s;
  }
  h3{
    padding-top: 10px;
  }
  div.contact svg,small{
    color: #97363C;
    font-weight: bold;
    margin-left: 30px;
  }
  div.contact{
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
  }
 svg{
    margin: 0;
 }
 a.mha-noy img:hover{
  box-shadow:1px 2px 10px #97363C;  
 }
 a.hee{
  text-decoration: none;
  width: max-content;
  background-color: aliceblue;
 }
 small:hover{
  color: palevioletred;
  text-decoration: underline;
 }
 
 
  
  
 
  
